/*DEFAULT COLORS*/
$orange120: #E87928;
$orange100: #FF8B37;
$orange80: #FFAC70;
$orange5: #FFF3EB;

$green100: #47D867;
$green5: #E6FAEA;

$red100: #EC6259;
$red5: #FDEEED;

$black100: #1C1C21;
$black40: #D0D0D8;
$black5: #F5F5F7;


$whiteColor: #FFFFFF;
$textDefaultColor: #1C1C21;;

$fontFamilyDef: 'Inter', sans-serif;

$font-xxs: 20px;
$font-xs: 28px;
$font-sm: 32px;
$font-md: 48px;
$font-lg: 56px;

$min-xs: 'min-width : 576px';
$min-sm: 'min-width : 768px';
$min-md: 'min-width : 992px';
$min-lg: 'min-width : 1200px';
$min-xl: 'min-width : 1600px';
$min-xxl: 'min-width : 2000px';

$max-xs: 'max-width : 576px';
$max-sm: 'max-width : 767px';
$max-md: 'max-width : 991px';
$max-lg: 'max-width : 1199px';
$max-xl: 'max-width : 1600px';
$min-xxl: 'min-width : 2000px';
