.play_wrapper {
    min-height: 100vh;
    background: #F5F5F7;
    padding-left: 80px;
    display: flex;
    align-items: center;
}

.play_field {
    width:70%;
}

.play_task {
    margin: 0;
    margin-bottom: 240px;
    max-width: 625px;
    font-weight: 600;
    font-size: 32px;
    line-height: 116%;
    color: #1C1C21;
    min-height: 74px;
}

.play_answers {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin-bottom: -20px;
}


@media (max-width: 1199px) {
    .play_wrapper {
        padding-left: 50px;
    }
}

@media (min-width: 1600px) {
    .play_task {
        font-size: 48px;
        max-width: 700px;
    }
}

@media (min-width: 2000px) {
    .play_wrapper {
        justify-content: center;
        padding-right: 400px;
    }
    .play_field, .play_answers {
        max-width: 1400px;
    }
    .play_task {
        font-size: 64px;
        max-width: 850px;
    }
}



