.level_wrapper {
    color: #1C1C21;
    border: 1px solid #D0D0D8;

    display: flex;
    justify-content: center;
    align-items: center;
    min-width:376px;
    min-height: 40px;
    font-size: 20px;
    margin-bottom: 10px;
}

.level_wrapper-active {
    color: #FF8B37;
    border: 1px solid #FF8B37;
}
.level_wrapper-disable {
    color: #D0D0D8;
    border: 1px solid #D0D0D8;
}

@media (min-width: 2000px) {
    .level_wrapper  {
        margin-bottom: 20px;
        min-width: 450px;
        font-size: 28px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media (max-width: 1199px) {
    .level_wrapper  {
        min-width: 250px;
    }
}
