.play_menu-wrapper {
    position: fixed;
    top:0;
    right:0;
    min-height: 100vh;
    background: white;
    padding: 20px;
    display: flex;
    align-items: center;
}

.play_menu {
    display: flex;
    align-items: center;
    flex-direction: column;
}


@media (min-width: 990px) {
    .play_menu-button {
        display: none;
    }
}

@media (min-width: 2000px) {
    .play_menu-wrapper {
        padding: 50px;
    }
}

@media (max-width: 990px) {
    .play_menu-wrapper {
        background: #F5F5F7;
        right: -100%;
        width:100%;
        padding: 0;
        justify-content: center;
    }
    .open {
        right:0;
    }
    .play_menu-button {
        position: absolute;
        top:16px;
        right:16px;
        display: block;
        background: none;
        border: none;
        font-size: 32px;
    }
}
