.start_wrapper {
    min-height: 100vh;
    background: linear-gradient(to bottom right, #FFFFFF 50%, #FFF3EB 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.start_image {
    max-width: 450px;
    width:100%;
    margin-right: 100px;
}
.start_image img {
    width:100%;
}

.start_title {
    font-weight: 600;
    font-size: 56px;
    line-height: 116%;
    color: #1C1C21;
    max-width: 500px;
    margin-bottom: 64px;
}

